In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("../data/combined_dataset.xlsx")

In [3]:
df = df.dropna(subset=['Text Content'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8428 entries, 0 to 8429
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  8428 non-null   object
 1   Code          8426 non-null   object
dtypes: object(2)
memory usage: 197.5+ KB

In [5]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Code
Solution Discussion                  2949
Social Conversation                  1409
Investigation and Exploration         761
Contribution and Commitment           658
Bug Reproduction                      597
Solution Usage                        378
Motivation                            352
Observed Bug Behaviour                303
Potential New Issues and Requests     253
Workarounds                           228
Task Progress                         179
Expected Behaviour                    155
Action on Issue                       105
Issue Content Management               46
Testing                                33
Future Plan                            20
Name: count, dtype: int64

In [6]:
df = df[df['Text Content'] != '1']

In [7]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Code
Solution Discussion                  2949
Social Conversation                  1409
Investigation and Exploration         761
Contribution and Commitment           658
Bug Reproduction                      597
Solution Usage                        378
Motivation                            352
Observed Bug Behaviour                303
Potential New Issues and Requests     253
Workarounds                           228
Task Progress                         179
Expected Behaviour                    155
Action on Issue                       105
Issue Content Management               46
Testing                                33
Future Plan                            20
Name: count, dtype: int64

In [8]:
labels_to_remove = [ "Testing",'Future Plan','Issue Content Management']
df = df[~df['Code'].isin(labels_to_remove)]

In [9]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Code
Solution Discussion                  2949
Social Conversation                  1409
Investigation and Exploration         761
Contribution and Commitment           658
Bug Reproduction                      597
Solution Usage                        378
Motivation                            352
Observed Bug Behaviour                303
Potential New Issues and Requests     253
Workarounds                           228
Task Progress                         179
Expected Behaviour                    155
Action on Issue                       105
Name: count, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8329 entries, 0 to 8429
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  8329 non-null   object
 1   Code          8327 non-null   object
dtypes: object(2)
memory usage: 195.2+ KB

In [11]:
print(df.columns)

Index(['Text Content', 'Code'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8329 entries, 0 to 8429
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  8329 non-null   object
 1   Code          8327 non-null   object
dtypes: object(2)
memory usage: 195.2+ KB

In [13]:
df.dropna(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8327 entries, 0 to 8429
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  8327 non-null   object
 1   Code          8327 non-null   object
dtypes: object(2)
memory usage: 195.2+ KB

In [15]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler

# Assuming your DataFrame is already loaded as 'df'

# Separate the feature columns and the target column
X = df['Text Content']
y = df['Code']

# Create an instance of RandomOverSampler
oversampler = RandomOverSampler()

# Perform oversampling on the data
X_resampled, y_resampled = oversampler.fit_resample(X.to_numpy().reshape(-1, 1), y)

# Convert the oversampled arrays back to a DataFrame
df_oversampled = pd.DataFrame({'Text Content': X_resampled.flatten(), 'Code': y_resampled})

# Verify the class distribution after oversampling
print(df_oversampled['Code'].value_counts())

Code
Potential New Issues and Requests    2949
Investigation and Exploration        2949
Social Conversation                  2949
Solution Discussion                  2949
Motivation                           2949
Observed Bug Behaviour               2949
Contribution and Commitment          2949
Workarounds                          2949
Bug Reproduction                     2949
Expected Behaviour                   2949
Action on Issue                      2949
Task Progress                        2949
Solution Usage                       2949
Name: count, dtype: int64

In [16]:
df_oversampled.head(9)

,Text Content,Code
0,"Of note - this PR is huge, but it was really d...",Potential New Issues and Requests
1,"Generally, the changes here can be abstracted ...",Investigation and Exploration
2,Placing all datetime related functions in pd_d...,Investigation and Exploration
3,"{h, c}; these previously were spread across a ...",Investigation and Exploration
4,Having pd_datetime create the capsule; this un...,Investigation and Exploration
5,Updating Cython files which use these function...,Investigation and Exploration
6,@MarcoGorelli @Dr-Irv would either of you be a...,Investigation and Exploration
7,I think there is still some risk of file clash...,Investigation and Exploration
8,Hmm that's unfortunate.,Social Conversation

In [17]:
df_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38337 entries, 0 to 38336
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  38337 non-null  object
 1   Code          38337 non-null  object
dtypes: object(2)
memory usage: 599.1+ KB

In [18]:
class_distribution = df_oversampled['Code'].value_counts()
print(class_distribution)

Code
Potential New Issues and Requests    2949
Investigation and Exploration        2949
Social Conversation                  2949
Solution Discussion                  2949
Motivation                           2949
Observed Bug Behaviour               2949
Contribution and Commitment          2949
Workarounds                          2949
Bug Reproduction                     2949
Expected Behaviour                   2949
Action on Issue                      2949
Task Progress                        2949
Solution Usage                       2949
Name: count, dtype: int64

In [19]:
import pandas as pd

# Assuming you have the 'df_oversampled' DataFrame

# Shuffle the rows
df_oversampled_shuffled = df_oversampled.sample(frac=1, random_state=42)

# Reset the index of the shuffled DataFrame
df_oversampled_shuffled = df_oversampled_shuffled.reset_index(drop=True)

# Print the shuffled DataFrame
print(df_oversampled_shuffled)

                                            Text Content  \
0                 The on_match callback is being called.
1      Thanks for the info @vrv (and for the features...
2      Tried \n```text\nset MESONPY_EDITABLE_VERBOSE=...
3      I think there are several good reasons to have...
4      ### ðŸš¨ Errors\n\nUsage: @explosion-bot please t...
...                                                  ...
38332  [**TL;DR:** We're designing a new input pipeli...
38333                                               CODE
38334  @jghawaly interesting â€” my version is not Anac...
38335  We can continue to refine, especially since th...
38336                   I really need to fix this issue.

                                    Code
0      Potential New Issues and Requests
1                    Social Conversation
2                       Bug Reproduction
3                             Motivation
4                       Bug Reproduction
...                                  ...
38332                         Motivation
38333                   Bug Reproduction
38334                        Workarounds
38335                Solution Discussion
38336        Contribution and Commitment

[38337 rows x 2 columns]

In [20]:
df_oversampled.head(4)

,Text Content,Code
0,"Of note - this PR is huge, but it was really d...",Potential New Issues and Requests
1,"Generally, the changes here can be abstracted ...",Investigation and Exploration
2,Placing all datetime related functions in pd_d...,Investigation and Exploration
3,"{h, c}; these previously were spread across a ...",Investigation and Exploration

In [43]:
df_oversampled.to_csv("../data/new_combined_data_oversampled.csv")