In [22]:
import pandas as pd

In [23]:
df=pd.read_excel("../data/combined_dataset/xlsx")

In [24]:
df = df.dropna(subset=['Text Content'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9729 entries, 0 to 9754
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  9729 non-null   object
 1   Code          9713 non-null   object
dtypes: object(2)
memory usage: 228.0+ KB

In [26]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Solution Discussion                  3932
Social Conversation                  1060
Investigation and Exploration         893
Contribution and Commitment           792
Bug Reproduction                      748
Motivation                            412
Observed Bug Behaviour                409
Usage                                 368
Workarounds                           312
Potential New Issues and Requests     273
Task Progress                         190
Expected Behaviour                    173
Action on Issue                        61
Testing                                45
Future Plan                            33
Solution Usage                         12
Name: Code, dtype: int64

In [27]:
df = df[df['Text Content'] != '1']

In [28]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Solution Discussion                  3932
Social Conversation                   943
Investigation and Exploration         893
Contribution and Commitment           792
Bug Reproduction                      748
Motivation                            412
Observed Bug Behaviour                409
Usage                                 368
Workarounds                           312
Potential New Issues and Requests     273
Task Progress                         190
Expected Behaviour                    173
Action on Issue                        61
Testing                                45
Future Plan                            33
Solution Usage                         12
Name: Code, dtype: int64

In [29]:
labels_to_remove = [ "Testing",'Future Plan','Issue Content Management']
df = df[~df['Code'].isin(labels_to_remove)]

In [30]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Solution Discussion                  3932
Social Conversation                   943
Investigation and Exploration         893
Contribution and Commitment           792
Bug Reproduction                      748
Motivation                            412
Observed Bug Behaviour                409
Usage                                 368
Workarounds                           312
Potential New Issues and Requests     273
Task Progress                         190
Expected Behaviour                    173
Action on Issue                        61
Name: Code, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9522 entries, 0 to 9754
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  9522 non-null   object
 1   Code          9506 non-null   object
dtypes: object(2)
memory usage: 223.2+ KB

In [32]:
print(df.columns)

Index(['Text Content', 'Code'], dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9522 entries, 0 to 9754
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  9522 non-null   object
 1   Code          9506 non-null   object
dtypes: object(2)
memory usage: 223.2+ KB

In [34]:
df.dropna(inplace=True)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9506 entries, 0 to 9754
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  9506 non-null   object
 1   Code          9506 non-null   object
dtypes: object(2)
memory usage: 222.8+ KB

In [36]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler

# Assuming your DataFrame is already loaded as 'df'

# Separate the feature columns and the target column
X = df['Text Content']
y = df['Code']

# Create an instance of RandomOverSampler
oversampler = RandomOverSampler()

# Perform oversampling on the data
X_resampled, y_resampled = oversampler.fit_resample(X.to_numpy().reshape(-1, 1), y)

# Convert the oversampled arrays back to a DataFrame
df_oversampled = pd.DataFrame({'Text Content': X_resampled.flatten(), 'Code': y_resampled})

# Verify the class distribution after oversampling
print(df_oversampled['Code'].value_counts())

Expected Behaviour                   3932
Motivation                           3932
Social Conversation                  3932
Contribution and Commitment          3932
Solution Discussion                  3932
Task Progress                        3932
Workarounds                          3932
Action on Issue                      3932
Potential New Issues and Requests    3932
Usage                                3932
Observed Bug Behaviour               3932
Investigation and Exploration        3932
Bug Reproduction                     3932
Name: Code, dtype: int64

In [37]:
df_oversampled.head(9)

,Text Content,Code
0,Node.js (JavaScript) Wrapper API,Expected Behaviour
1,Because JavaScript is Awesome,Motivation
2,+1!,Social Conversation
3,:+1:,Social Conversation
4,Just what I was searching for.,Social Conversation
5,:+1:,Social Conversation
6,As quoted from the offical website http://www....,Motivation
7,we嶺뚢돧由췦 hoping to entice you to contribute SWI...,Contribution and Commitment
8,I am new to this whole SWIG thing but searched...,Solution Discussion

In [38]:
df_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51116 entries, 0 to 51115
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  51116 non-null  object
 1   Code          51116 non-null  object
dtypes: object(2)
memory usage: 798.8+ KB

In [39]:
class_distribution = df_oversampled['Code'].value_counts()
print(class_distribution)

Expected Behaviour                   3932
Motivation                           3932
Social Conversation                  3932
Contribution and Commitment          3932
Solution Discussion                  3932
Task Progress                        3932
Workarounds                          3932
Action on Issue                      3932
Potential New Issues and Requests    3932
Usage                                3932
Observed Bug Behaviour               3932
Investigation and Exploration        3932
Bug Reproduction                     3932
Name: Code, dtype: int64

In [40]:
import pandas as pd

# Assuming you have the 'df_oversampled' DataFrame

# Shuffle the rows
df_oversampled_shuffled = df_oversampled.sample(frac=1, random_state=42)

# Reset the index of the shuffled DataFrame
df_oversampled_shuffled = df_oversampled_shuffled.reset_index(drop=True)

# Print the shuffled DataFrame
print(df_oversampled_shuffled)

                                            Text Content  \
0                                                 #NAME?
1                                  found ugly workaround
2      @NYcleanerOn Ubuntu, there is a CODE file cont...
3      Is there any setting for Dataset APIs to drop ...
4           docstrings probably requires cding directory
...                                                  ...
51111  However we cannot merge GPL code into TensorFlow.
51112  Just put it in seperate collection-keys: CODE ...
51113                                        fixed issue
51114  Currently we are accessing the vector space th...
51115  I did not install 9.1, at least not intentiona...

                                    Code
0                     Expected Behaviour
1                    Social Conversation
2                    Solution Discussion
3                                  Usage
4          Investigation and Exploration
...                                  ...
51111                    Action on Issue
51112                              Usage
51113                Social Conversation
51114  Potential New Issues and Requests
51115                   Bug Reproduction

[51116 rows x 2 columns]

In [41]:
df_oversampled.head(4)

                       Text Content                 Code
0  Node.js (JavaScript) Wrapper API   Expected Behaviour
1     Because JavaScript is Awesome           Motivation
2                               +1!  Social Conversation
3                              :+1:  Social Conversation

In [43]:
df_oversampled.to_excel("new_combined_data_oversampled.xlsx")